<template name="GeneralStatistics">
  <div class="userStatistics">
    <table class="bordered">
      <tbody>
        <tr>
          <td>
            All
          </td>
          <td>
            {{all}}
          </td>
        </tr>
        <tr>
          <td>
            Admins
          </td>
          <td>
            {{admins}}
          </td>
        </tr>
        <tr>
          <td>
            Users
          </td>
          <td>
            {{users}}
          </td>
        </tr>
        <tr>
          <td>
            Blocked users
          </td>
          <td>
            {{blocked}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>
